In [15]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine

In [20]:
#DB connection

con_engine = (
    "mssql+pyodbc://LAPTOP-R3E5KI54\SQLEXPRESS/HR?"
    "driver=ODBC+Driver+17+for+SQL+Server"
)

In [21]:
engine = create_engine(con_engine)

In [22]:
query = """select * from departments"""

In [23]:
df = pd.read_sql(query,engine)

In [24]:
df

    department_id   department_name  location_id
0               1    Administration         1700
1               2         Marketing         1800
2               3        Purchasing         1700
3               4   Human Resources         2400
4               5          Shipping         1500
5               6                IT         1400
6               7  Public Relations         2700
7               8             Sales         2500
8               9         Executive         1700
9              10           Finance         1700
10             11        Accounting         1700

In [33]:
import pandas as pd
import oracledb
from sqlalchemy import create_engine

oracledb.init_oracle_client(lib_dir = r"C:\oraclexe\app\oracle\instantclient_19_29")

In [34]:
#create connection
engine = create_engine(
    "oracle+oracledb://ETL_Automation:ETL_Automation@localhost:1521/xe"
)

In [46]:
query = """select * from customers_updated"""
df_or = pd.read_sql(query,engine)

In [47]:
df_or

  customerid   name       phone
0       C001  Alice  1234567890
1       C002    Bob  9876543210

In [4]:
student_1 = 'rajendr'
Dob = '1993-10-15'

In [2]:
type(student_1)

str

In [3]:
#myVariable = 'camle casing'
#my_variable_name = 'snake case'
#MyVariableName= 'PascalCase'

#list = [append,pop,count,extend,]
#str = '

In [8]:
f = student_1[:3]
l = Dob[:4]

In [10]:
fl=f+'_'+l

In [11]:
fl

'raj_1993'

In [18]:
student_1[:-4]

'raj'

In [19]:
Fullname = 'Rajendra Kumar Patle'

In [29]:
Fn = Fullname.split()[0][::-1]
Mn = Fullname.split()[1][::-1]
Ln = Fullname.split()[2][::-1]

In [30]:
print(Fn,Mn,Ln)

ardnejaR ramuK eltaP

In [28]:
Fn

'ardnejaR'

In [32]:
student_1.count('r')

2

In [45]:
student_1.find('R')

-1

In [47]:
len(student_1)

7

In [48]:
lst = [12,12,12,53,45,85,96]

In [64]:
lst1 = [23]

In [56]:
len(lst)

7

In [65]:
lst.extend(lst1)

In [67]:
lst1

[23]

In [68]:
lst.remove(39)

In [72]:
lst

[12, 12, 12, 53, 45, 85, 96]

In [76]:
lst1.pop()

IndexError: pop from empty list

In [74]:
lst1

[]

In [77]:
name_of_students_list = ["Malthi","Aarti","Abhinav","Malthi"]

In [82]:
for i in name_of_students_list:
    print(i)

Malthi
Abhinav
Malthi
Rakesh

In [81]:
name_of_students_list.remove('Aarti')

In [84]:
# Get me first 3 items from list and store in another list ( idx : 0,1,2 )
lst11 = name_of_students_list[0:3]

In [85]:
lst11

['Malthi', 'Abhinav', 'Malthi']

In [86]:
ans_list = []
for i in range(0,3):
    ans_list.append(name_of_students_list[i])

In [87]:
ans_list

['Malthi', 'Abhinav', 'Malthi']

In [88]:
name_set1 = {"Ram","Shyam","Rakesh"}
name_set2 = {"Ram","Shyam","Ghanshyam"}

In [91]:
#2. Write a function that return a list of common elements from two different sets
def common_set():
    var = name_set1.intersection(name_set2)
    return var

In [92]:
ans_var = common_set()

In [93]:
ans_var

{'Ram', 'Shyam'}

In [96]:
def findCommonElement(set1, set2):
    set3 = set1 | set2
    return set3

set1 = {1,2,3,4,5}
set2 = {1,4,5,8,9}
print(findCommonElement(set1,set2))

{1, 2, 3, 4, 5, 8, 9}

In [95]:
def convertStringToList(s):
    return list(s)

s = input('enter your stirng:')
print(convertStringToList(s))

enter your stirng: Rajendra

['R', 'a', 'j', 'e', 'n', 'd', 'r', 'a']

In [1]:
def wish(name):
    print(f'Hello {name}!, How r you?')

In [2]:
wish('Raj')

Hello Raj!, How r you?

In [3]:
def add(x,y):
    c = x+y
    return c

In [6]:
var = add(12,20)

In [7]:
var

32

In [12]:
def key_function(name,City='Indore'):
    print(f'Hello {name}, you are from {City}')

In [15]:
key_function(name='Nilesh')

Hello Nilesh, you are from Indore

In [35]:
def sum_number(*num):
    total = 0
    for i in num:
        total+=i
        print(f'{total}')

In [36]:
var = sum_number(10,20,30)

10
30
60

In [12]:
var

10

In [15]:
dt_dict = {'Country':'Austrailia','CM':'CM000425','Brand':['Biktarvy','Yescarta','Cosentyx','Kesimpta']}

In [16]:
dt_dict.items()

dict_items([('Country', 'Austrailia'), ('CM', 'CM000425'), ('Brand', ['Biktarvy', 'Yescarta', 'Cosentyx', 'Kesimpta'])])

In [18]:
dt_dict.keys()

dict_keys(['Country', 'CM', 'Brand'])

In [19]:
dt_dict.values()

dict_values(['Austrailia', 'CM000425', ['Biktarvy', 'Yescarta', 'Cosentyx', 'Kesimpta']])

In [31]:
def variable_key_arg(**n):
    for k,v in dt_dict.items():
        if k != 'Brand':
            continue
        for j in v:
            print(j)

In [32]:
variable_key_arg(Country='Austrailia',CM='CM000425',Brand=['Biktarvy','Yescarta','Cosentyx','Kesimpta'])

Biktarvy
Yescarta
Cosentyx
Kesimpta

In [65]:
a =10
def f1():
    print(a)
def f2():
    a = 20
    print(a)
def f3():
    global a
    a = 30
    print(a)
def f4():
    print(a)

In [66]:
f4()

10

In [57]:
f2()

20

In [69]:
var = lambda a,b:a if a > b else b

In [70]:
var(10,20)

20

In [72]:
def list_even(*n):
    for i in n:
        if i%2 == 0:
            print(i)

In [73]:
list_even(10,13,20,31)

10
20

In [74]:
dt_list = [10,31,20,46,11]

var = list(filter(lambda x:x%2==0,dt_list))

In [75]:
var

[10, 20, 46]

In [76]:
var1 = list(map(lambda x: x+5, dt_list))

In [77]:
var1

[15, 36, 25, 51, 16]

In [78]:
from functools import *
dt_list = [10,31,20,46,11]
result = reduce(lambda a,b:a+b,dt_list)

In [79]:
result

118

In [87]:
def decor_wish(func):
    def decor_inner(name):
        if name == 'Raj':
            print('Hello Raj')
        else:
            func(name)
    return decor_inner

In [88]:
@decor_wish
def wish(name):
    print(f'Hello {name},How r you ?')

In [91]:
wish('Raj')

Hello Raj

In [94]:
gender = ['M','F','M','M','F']

var = list(map(lambda x:1 if x == 'M' else 0,gender))

In [95]:
var

[1, 0, 1, 1, 0]

In [97]:
dt_list

[10, 31, 20, 46, 11]

In [100]:
var = list(filter(lambda x:x%2 ==0,dt_list))

In [101]:
var

[10, 20, 46]

In [102]:
A =[i for i in dt_list if i%2 == 0]

In [103]:
A

[10, 20, 46]

In [104]:
dt_list1 = [[1,2,3],[4,5,6],[7,8,9]]

In [105]:
B = [j for i in dt_list1 for j in i]

In [106]:
B

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
File = ['text.pdf','demo.xlsx','sample.pdf']
C = [len(i.split('.')[0]) for i in File]

In [114]:
C

[4, 4, 6]