In [1]:
import pandas as pd

In [33]:
df = pd.read_csv('emp.csv' ,dtype = {'salary':'float'},parse_dates = ['doj'],usecols=['ename','salary','doj'])

In [34]:
df

     ename   salary        doj
0    Amber   1000.0 2018-05-14
1     Amar   1000.0 2017-03-22
2    Sagar   1000.0 2020-11-30
3   Thomas   1000.0 2019-08-18
4     Jade   2000.0 2021-02-10
5    Smith   1000.0 2016-12-01
6   Robert   3000.0 2023-06-25
7     Nick   1000.0 2015-09-15
8    Naman   4000.0 2020-01-20
9    Vikas   1000.0 2017-10-03
10  Dennis  41000.0 2024-01-05
11   Karan   2200.0 2018-06-16
12  Simran   1500.0 2019-12-19
13    Amit   2000.0 2022-04-09
14    Neha   1700.0 2021-07-22
15   Rahul   1200.0 2016-03-28

In [38]:
df.iloc[2:10:3]

   ename  salary        doj
2  Sagar  1000.0 2020-11-30
5  Smith  1000.0 2016-12-01
8  Naman  4000.0 2020-01-20

In [39]:
df1 = pd.read_csv('emp_1.csv', delimiter = ';')

In [40]:
df1

                           eno  ename  salary  deptno         doj
0                           10  Amber  1000.0    10.0  2018-05-14
1                            2   Amar  1000.0    10.0  2017-03-22
2                            8  Sagar  1000.0    20.0  2020-11-30
3  4,Thomas,1000,10,2019-08-18    NaN     NaN     NaN         NaN

In [45]:
for cnk in pd.read_csv('emp_details.csv', chunksize = 5):
    print(cnk)

    eno         ename         doj  deptno  salary
0  1001  Arjun Sharma  2022-01-15      10    1000
1  1002   Priya Patel  2023-03-22      20   67387
2  1003    Ravi Kumar  2021-05-10      30   70421
3  1004   Sneha Gupta  2020-08-25      40   68902
4  1005    Anil Reddy  2024-02-13      50   78005
    eno         ename         doj  deptno  salary
5  1006    Neha Verma  2019-11-30      60   59843
6  1007   Vijay Singh  2022-07-08      10    1000
7  1008   Ananya Iyer  2021-03-15      20   74625
8  1009  Manish Joshi  2020-12-19      30   67560
9  1010   Simran Kaur  2023-01-11      40   68902
     eno           ename         doj  deptno  salary
10  1011    Rajesh Mehta  2021-09-01      50   62497
11  1012   Deepika Desai  2020-06-10      60   70179
12  1013  Shivani Sharma  2022-09-13      10   74363
13  1014     Harish Nair  2023-04-01      20   61487
14  1015     Komal Yadav  2021-11-23      30   61894
     eno         ename         doj  deptno  salary
15  1016    Ajay Bhatt  2020-04-25      40   70109
16  1017   Pooja Malik  2022-02-28      50   77450
17  1018  Raghav Joshi  2021-06-14      60   62873
18  1019    Meera Nair  2020-09-17      10    1000
19  1020   Krishna Rao  2023-10-02      20    2000
     eno               ename         doj  deptno  salary
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
     eno           ename         doj  deptno  salary
25  1026    Swati Kapoor  2021-10-05      60   66972
26  1027   Harshit Kumar  2022-08-16      10   66535
27  1028   Kanika Thakur  2020-01-10      20   67752
28  1029  Arvind Agarwal  2023-02-18      30   70986
29  1030     Divya Singh  2021-04-22      40   67845
     eno          ename         doj  deptno  salary
30  1031   Akash Prasad  2020-06-05      50   72594
31  1032     Geeta Rani  2022-09-07      60   63916
32  1033    Suresh Jain  2021-12-01      10   69234
33  1034     Sonal Shah  2023-08-13      20    2000
34  1035  Jayesh Bansal  2020-02-15      30   69811
     eno            ename         doj  deptno  salary
35  1036     Shweta Yadav  2021-06-03      40   63559
36  1037   Rajendra Joshi  2023-11-19      50   73561
37  1038     Kavita Mehta  2020-07-25      60   71892
38  1039       Ajit Reddy  2022-04-18      10   69399
39  1040  Pratibha Sharma  2021-09-05      20   65072
     eno            ename         doj  deptno  salary
40  1041  Subodh Tripathi  2020-05-14      30   68215
41  1042     Sunita Gupta  2023-03-09      40   72534
42  1043     Arvind Kumar  2021-08-22      50   70019
43  1044   Neeraj Agarwal  2020-02-19      60   69312
44  1045     Pankaj Joshi  2022-06-10      10   70445
     eno          ename         doj  deptno  salary
45  1046     Suman Iyer  2023-04-28      20   67751
46  1047    Sunil Verma  2020-09-14      30   66989
47  1048  Meenal Pandey  2021-07-03      40   66228
48  1049     Manju Nair  2022-11-17      50   69061
49  1050  Sandeep Yadav  2021-10-12      60   60921

In [42]:
df

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20    2000
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [56]:
df = pd.read_csv('emp_details.csv', chunksize = 10, skiprows = 10)
for cnk in df:
    print(cnk)

    1010     Simran Kaur  2023-01-11  40  68902
0   1011    Rajesh Mehta  2021-09-01  50  62497
1   1012   Deepika Desai  2020-06-10  60  70179
2   1013  Shivani Sharma  2022-09-13  10  74363
3   1014     Harish Nair  2023-04-01  20  61487
4   1015     Komal Yadav  2021-11-23  30  61894
5   1016      Ajay Bhatt  2020-04-25  40  70109
6   1017     Pooja Malik  2022-02-28  50  77450
7   1018    Raghav Joshi  2021-06-14  60  62873
8   1019      Meera Nair  2020-09-17  10   1000
9   1020     Krishna Rao  2023-10-02  20   2000
     1010         Simran Kaur  2023-01-11  40  68902
10   1021      Prakash Pillai  2022-12-11  10  73569
11   1022  Aishwarya Deshmukh  2021-07-25  20  69746
12   1023          Vikas Soni  2020-11-15  30  60933
13   1024          Ritu Mehra  2023-05-20  40  67801
14   1025       Nitin Chauhan  2020-03-30  50  66948
15   1026        Swati Kapoor  2021-10-05  60  66972
16   1027       Harshit Kumar  2022-08-16  10  66535
17   1028       Kanika Thakur  2020-01-10  20  67752
18   1029      Arvind Agarwal  2023-02-18  30  70986
19   1030         Divya Singh  2021-04-22  40  67845
     1010      Simran Kaur  2023-01-11  40  68902
20   1031     Akash Prasad  2020-06-05  50  72594
21   1032       Geeta Rani  2022-09-07  60  63916
22   1033      Suresh Jain  2021-12-01  10  69234
23   1034       Sonal Shah  2023-08-13  20   2000
24   1035    Jayesh Bansal  2020-02-15  30  69811
25   1036     Shweta Yadav  2021-06-03  40  63559
26   1037   Rajendra Joshi  2023-11-19  50  73561
27   1038     Kavita Mehta  2020-07-25  60  71892
28   1039       Ajit Reddy  2022-04-18  10  69399
29   1040  Pratibha Sharma  2021-09-05  20  65072
     1010      Simran Kaur  2023-01-11  40  68902
30   1041  Subodh Tripathi  2020-05-14  30  68215
31   1042     Sunita Gupta  2023-03-09  40  72534
32   1043     Arvind Kumar  2021-08-22  50  70019
33   1044   Neeraj Agarwal  2020-02-19  60  69312
34   1045     Pankaj Joshi  2022-06-10  10  70445
35   1046       Suman Iyer  2023-04-28  20  67751
36   1047      Sunil Verma  2020-09-14  30  66989
37   1048    Meenal Pandey  2021-07-03  40  66228
38   1049       Manju Nair  2022-11-17  50  69061
39   1050    Sandeep Yadav  2021-10-12  60  60921

In [78]:
df = pd.read_csv('emp_details.csv')

In [79]:
df

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20    2000
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [86]:
ft_10 = df['deptno'] == 10

In [84]:
ft_50 = df['salary'] > 50000

In [87]:
fn_10_50 = ft_10 & ft_50

In [89]:
df[fn_10_50]

     eno           ename         doj  deptno  salary
12  1013  Shivani Sharma  2022-09-13      10   74363
20  1021  Prakash Pillai  2022-12-11      10   73569
26  1027   Harshit Kumar  2022-08-16      10   66535
32  1033     Suresh Jain  2021-12-01      10   69234
38  1039      Ajit Reddy  2022-04-18      10   69399
44  1045    Pankaj Joshi  2022-06-10      10   70445

In [95]:
df[(df['deptno'] == 10) & (df['salary'] > 50000)]

     eno           ename         doj  deptno  salary
12  1013  Shivani Sharma  2022-09-13      10   74363
20  1021  Prakash Pillai  2022-12-11      10   73569
26  1027   Harshit Kumar  2022-08-16      10   66535
32  1033     Suresh Jain  2021-12-01      10   69234
38  1039      Ajit Reddy  2022-04-18      10   69399
44  1045    Pankaj Joshi  2022-06-10      10   70445

In [96]:
df[(df['deptno'] == 10) | (df['deptno'] == 20)]

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20    2000
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751

In [100]:
fit = df['deptno'] != 10

In [101]:
df[fit]

     eno               ename         doj  deptno  salary
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
19  1020         Krishna Rao  2023-10-02      20    2000
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
33  1034          Sonal Shah  2023-08-13      20    2000
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [104]:
df.sort_values(by = 'deptno' ,ascending = False)

     eno               ename         doj  deptno  salary
11  1012       Deepika Desai  2020-06-10      60   70179
5   1006          Neha Verma  2019-11-30      60   59843
17  1018        Raghav Joshi  2021-06-14      60   62873
43  1044      Neeraj Agarwal  2020-02-19      60   69312
31  1032          Geeta Rani  2022-09-07      60   63916
49  1050       Sandeep Yadav  2021-10-12      60   60921
37  1038        Kavita Mehta  2020-07-25      60   71892
25  1026        Swati Kapoor  2021-10-05      60   66972
10  1011        Rajesh Mehta  2021-09-01      50   62497
16  1017         Pooja Malik  2022-02-28      50   77450
24  1025       Nitin Chauhan  2020-03-30      50   66948
30  1031        Akash Prasad  2020-06-05      50   72594
36  1037      Rajendra Joshi  2023-11-19      50   73561
4   1005          Anil Reddy  2024-02-13      50   78005
42  1043        Arvind Kumar  2021-08-22      50   70019
48  1049          Manju Nair  2022-11-17      50   69061
15  1016          Ajay Bhatt  2020-04-25      40   70109
9   1010         Simran Kaur  2023-01-11      40   68902
23  1024          Ritu Mehra  2023-05-20      40   67801
3   1004         Sneha Gupta  2020-08-25      40   68902
41  1042        Sunita Gupta  2023-03-09      40   72534
35  1036        Shweta Yadav  2021-06-03      40   63559
47  1048       Meenal Pandey  2021-07-03      40   66228
29  1030         Divya Singh  2021-04-22      40   67845
22  1023          Vikas Soni  2020-11-15      30   60933
8   1009        Manish Joshi  2020-12-19      30   67560
14  1015         Komal Yadav  2021-11-23      30   61894
46  1047         Sunil Verma  2020-09-14      30   66989
40  1041     Subodh Tripathi  2020-05-14      30   68215
34  1035       Jayesh Bansal  2020-02-15      30   69811
2   1003          Ravi Kumar  2021-05-10      30   70421
28  1029      Arvind Agarwal  2023-02-18      30   70986
1   1002         Priya Patel  2023-03-22      20   67387
13  1014         Harish Nair  2023-04-01      20   61487
45  1046          Suman Iyer  2023-04-28      20   67751
39  1040     Pratibha Sharma  2021-09-05      20   65072
27  1028       Kanika Thakur  2020-01-10      20   67752
7   1008         Ananya Iyer  2021-03-15      20   74625
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
19  1020         Krishna Rao  2023-10-02      20    2000
33  1034          Sonal Shah  2023-08-13      20    2000
0   1001        Arjun Sharma  2022-01-15      10    1000
12  1013      Shivani Sharma  2022-09-13      10   74363
6   1007         Vijay Singh  2022-07-08      10    1000
20  1021      Prakash Pillai  2022-12-11      10   73569
18  1019          Meera Nair  2020-09-17      10    1000
32  1033         Suresh Jain  2021-12-01      10   69234
26  1027       Harshit Kumar  2022-08-16      10   66535
38  1039          Ajit Reddy  2022-04-18      10   69399
44  1045        Pankaj Joshi  2022-06-10      10   70445

In [109]:
df.sort_values(by = ['salary','deptno'], ascending =[True,False])

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
6   1007         Vijay Singh  2022-07-08      10    1000
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
33  1034          Sonal Shah  2023-08-13      20    2000
5   1006          Neha Verma  2019-11-30      60   59843
49  1050       Sandeep Yadav  2021-10-12      60   60921
22  1023          Vikas Soni  2020-11-15      30   60933
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
10  1011        Rajesh Mehta  2021-09-01      50   62497
17  1018        Raghav Joshi  2021-06-14      60   62873
35  1036        Shweta Yadav  2021-06-03      40   63559
31  1032          Geeta Rani  2022-09-07      60   63916
39  1040     Pratibha Sharma  2021-09-05      20   65072
47  1048       Meenal Pandey  2021-07-03      40   66228
26  1027       Harshit Kumar  2022-08-16      10   66535
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
46  1047         Sunil Verma  2020-09-14      30   66989
1   1002         Priya Patel  2023-03-22      20   67387
8   1009        Manish Joshi  2020-12-19      30   67560
45  1046          Suman Iyer  2023-04-28      20   67751
27  1028       Kanika Thakur  2020-01-10      20   67752
23  1024          Ritu Mehra  2023-05-20      40   67801
29  1030         Divya Singh  2021-04-22      40   67845
40  1041     Subodh Tripathi  2020-05-14      30   68215
3   1004         Sneha Gupta  2020-08-25      40   68902
9   1010         Simran Kaur  2023-01-11      40   68902
48  1049          Manju Nair  2022-11-17      50   69061
32  1033         Suresh Jain  2021-12-01      10   69234
43  1044      Neeraj Agarwal  2020-02-19      60   69312
38  1039          Ajit Reddy  2022-04-18      10   69399
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
34  1035       Jayesh Bansal  2020-02-15      30   69811
42  1043        Arvind Kumar  2021-08-22      50   70019
15  1016          Ajay Bhatt  2020-04-25      40   70109
11  1012       Deepika Desai  2020-06-10      60   70179
2   1003          Ravi Kumar  2021-05-10      30   70421
44  1045        Pankaj Joshi  2022-06-10      10   70445
28  1029      Arvind Agarwal  2023-02-18      30   70986
37  1038        Kavita Mehta  2020-07-25      60   71892
41  1042        Sunita Gupta  2023-03-09      40   72534
30  1031        Akash Prasad  2020-06-05      50   72594
36  1037      Rajendra Joshi  2023-11-19      50   73561
20  1021      Prakash Pillai  2022-12-11      10   73569
12  1013      Shivani Sharma  2022-09-13      10   74363
7   1008         Ananya Iyer  2021-03-15      20   74625
16  1017         Pooja Malik  2022-02-28      50   77450
4   1005          Anil Reddy  2024-02-13      50   78005

In [110]:
df

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20    2000
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [2]:
df = pd.read_csv('emp_details.csv')

In [3]:
df

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20    2000
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [44]:
df_group = df.groupby('deptno')['salary'].sum()

In [45]:
df_filter = df['deptno'] == 10

In [46]:
df_final = df_filter & df_group

C:\Users\HP\AppData\Local\Temp\ipykernel_15480\4079680592.py:1: FutureWarning: Operation between non boolean Series with different indexes will no longer return a boolean result in a future version. Cast both Series to object type to maintain the prior behavior.
  df_final = df_filter & df_group

In [11]:
df_final

,deptno,total_sal,0,1,2,3,4,5,6,7,...,40,41,42,43,44,45,46,47,48,49
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [47]:
df_having = df_group.apply(lambda x : x >500000)

In [48]:
var = df_group[df_having].reset_index()

In [49]:
df_grouped = df.groupby('deptno')['salary'].sum()

In [26]:
filter_stats = df_grouped.apply(lambda x:x > 500000)

In [27]:
dfff = df_grouped[filter_stats].reset_index()

In [28]:
dfff

   deptno  salary
0      30  536809
1      40  545880
2      50  570135
3      60  525908

In [31]:
var

   index  deptno  total_sal
0      0     NaN        NaN
1      1     NaN        NaN
2      2     NaN   536809.0
3      3     NaN   545880.0
4      4     NaN   570135.0
5      5     NaN   525908.0

In [38]:
var1 = df.groupby('deptno')['salary'].sum()

In [39]:
var2 = var1.apply(lambda x : x >500000)

In [40]:
var3 = var1[var2].reset_index()

In [41]:
var3

   deptno  salary
0      30  536809
1      40  545880
2      50  570135
3      60  525908

In [51]:
df.sort_values(by = ['salary','deptno'],ascending = [True,False])

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
6   1007         Vijay Singh  2022-07-08      10    1000
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
33  1034          Sonal Shah  2023-08-13      20    2000
5   1006          Neha Verma  2019-11-30      60   59843
49  1050       Sandeep Yadav  2021-10-12      60   60921
22  1023          Vikas Soni  2020-11-15      30   60933
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
10  1011        Rajesh Mehta  2021-09-01      50   62497
17  1018        Raghav Joshi  2021-06-14      60   62873
35  1036        Shweta Yadav  2021-06-03      40   63559
31  1032          Geeta Rani  2022-09-07      60   63916
39  1040     Pratibha Sharma  2021-09-05      20   65072
47  1048       Meenal Pandey  2021-07-03      40   66228
26  1027       Harshit Kumar  2022-08-16      10   66535
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
46  1047         Sunil Verma  2020-09-14      30   66989
1   1002         Priya Patel  2023-03-22      20   67387
8   1009        Manish Joshi  2020-12-19      30   67560
45  1046          Suman Iyer  2023-04-28      20   67751
27  1028       Kanika Thakur  2020-01-10      20   67752
23  1024          Ritu Mehra  2023-05-20      40   67801
29  1030         Divya Singh  2021-04-22      40   67845
40  1041     Subodh Tripathi  2020-05-14      30   68215
3   1004         Sneha Gupta  2020-08-25      40   68902
9   1010         Simran Kaur  2023-01-11      40   68902
48  1049          Manju Nair  2022-11-17      50   69061
32  1033         Suresh Jain  2021-12-01      10   69234
43  1044      Neeraj Agarwal  2020-02-19      60   69312
38  1039          Ajit Reddy  2022-04-18      10   69399
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
34  1035       Jayesh Bansal  2020-02-15      30   69811
42  1043        Arvind Kumar  2021-08-22      50   70019
15  1016          Ajay Bhatt  2020-04-25      40   70109
11  1012       Deepika Desai  2020-06-10      60   70179
2   1003          Ravi Kumar  2021-05-10      30   70421
44  1045        Pankaj Joshi  2022-06-10      10   70445
28  1029      Arvind Agarwal  2023-02-18      30   70986
37  1038        Kavita Mehta  2020-07-25      60   71892
41  1042        Sunita Gupta  2023-03-09      40   72534
30  1031        Akash Prasad  2020-06-05      50   72594
36  1037      Rajendra Joshi  2023-11-19      50   73561
20  1021      Prakash Pillai  2022-12-11      10   73569
12  1013      Shivani Sharma  2022-09-13      10   74363
7   1008         Ananya Iyer  2021-03-15      20   74625
16  1017         Pooja Malik  2022-02-28      50   77450
4   1005          Anil Reddy  2024-02-13      50   78005

In [52]:
df.groupby('deptno')['eno'].count().reset_index()

   deptno  eno
0      10    9
1      20    9
2      30    8
3      40    8
4      50    8
5      60    8

In [59]:
df_filter = df[df['salary'] < 10000]

In [62]:
df_finl = df_filter.groupby('deptno')['salary'].sum().reset_index()

In [63]:
df_finl

   deptno  salary
0      10    3000
1      20    4000

In [64]:
df_filter

     eno         ename         doj  deptno  salary
0   1001  Arjun Sharma  2022-01-15      10    1000
6   1007   Vijay Singh  2022-07-08      10    1000
18  1019    Meera Nair  2020-09-17      10    1000
19  1020   Krishna Rao  2023-10-02      20    2000
33  1034    Sonal Shah  2023-08-13      20    2000

In [66]:
df.groupby(['deptno','salary'])['eno'].count().reset_index()

    deptno  salary  eno
0       10    1000    3
1       10   66535    1
2       10   69234    1
3       10   69399    1
4       10   70445    1
5       10   73569    1
6       10   74363    1
7       20    2000    2
8       20   61487    1
9       20   65072    1
10      20   67387    1
11      20   67751    1
12      20   67752    1
13      20   69746    1
14      20   74625    1
15      30   60933    1
16      30   61894    1
17      30   66989    1
18      30   67560    1
19      30   68215    1
20      30   69811    1
21      30   70421    1
22      30   70986    1
23      40   63559    1
24      40   66228    1
25      40   67801    1
26      40   67845    1
27      40   68902    2
28      40   70109    1
29      40   72534    1
30      50   62497    1
31      50   66948    1
32      50   69061    1
33      50   70019    1
34      50   72594    1
35      50   73561    1
36      50   77450    1
37      50   78005    1
38      60   59843    1
39      60   60921    1
40      60   62873    1
41      60   63916    1
42      60   66972    1
43      60   69312    1
44      60   70179    1
45      60   71892    1