In [2]:
import pandas as pd

In [4]:
data = {"empID":[101,102,103,104,105],
       "EmpName":['Akash','Naresh','Suresh','Nikhil','Akhil'],
       "Salary":[2000,3000,4000,5000,2012]
       }

In [69]:
df = pd.read_csv('emp_details.csv', parse_dates = ['doj'], chunksize = 5)

In [70]:
for chk in df:
    print(chk)

    eno         ename        doj  deptno  salary
0  1001  Arjun Sharma 2022-01-15      10    1000
1  1002   Priya Patel 2023-03-22      20   67387
2  1003    Ravi Kumar 2021-05-10      30   70421
3  1004   Sneha Gupta 2020-08-25      40   68902
4  1005    Anil Reddy 2024-02-13      50   78005
    eno         ename        doj  deptno  salary
5  1006    Neha Verma 2019-11-30      60   59843
6  1007   Vijay Singh 2022-07-08      10    1000
7  1008   Ananya Iyer 2021-03-15      20   74625
8  1009  Manish Joshi 2020-12-19      30   67560
9  1010   Simran Kaur 2023-01-11      40   68902
     eno           ename        doj  deptno  salary
10  1011    Rajesh Mehta 2021-09-01      50   62497
11  1012   Deepika Desai 2020-06-10      60   70179
12  1013  Shivani Sharma 2022-09-13      10   74363
13  1014     Harish Nair 2023-04-01      20   61487
14  1015     Komal Yadav 2021-11-23      30   61894
     eno         ename        doj  deptno  salary
15  1016    Ajay Bhatt 2020-04-25      40   70109
16  1017   Pooja Malik 2022-02-28      50   77450
17  1018  Raghav Joshi 2021-06-14      60   62873
18  1019    Meera Nair 2020-09-17      10    1000
19  1020   Krishna Rao 2023-10-02      20    2000
     eno               ename        doj  deptno  salary
20  1021      Prakash Pillai 2022-12-11      10   73569
21  1022  Aishwarya Deshmukh 2021-07-25      20   69746
22  1023          Vikas Soni 2020-11-15      30   60933
23  1024          Ritu Mehra 2023-05-20      40   67801
24  1025       Nitin Chauhan 2020-03-30      50   66948
     eno           ename        doj  deptno  salary
25  1026    Swati Kapoor 2021-10-05      60   66972
26  1027   Harshit Kumar 2022-08-16      10   66535
27  1028   Kanika Thakur 2020-01-10      20   67752
28  1029  Arvind Agarwal 2023-02-18      30   70986
29  1030     Divya Singh 2021-04-22      40   67845
     eno          ename        doj  deptno  salary
30  1031   Akash Prasad 2020-06-05      50   72594
31  1032     Geeta Rani 2022-09-07      60   63916
32  1033    Suresh Jain 2021-12-01      10   69234
33  1034     Sonal Shah 2023-08-13      20    2000
34  1035  Jayesh Bansal 2020-02-15      30   69811
     eno            ename        doj  deptno  salary
35  1036     Shweta Yadav 2021-06-03      40   63559
36  1037   Rajendra Joshi 2023-11-19      50   73561
37  1038     Kavita Mehta 2020-07-25      60   71892
38  1039       Ajit Reddy 2022-04-18      10   69399
39  1040  Pratibha Sharma 2021-09-05      20   65072
     eno            ename        doj  deptno  salary
40  1041  Subodh Tripathi 2020-05-14      30   68215
41  1042     Sunita Gupta 2023-03-09      40   72534
42  1043     Arvind Kumar 2021-08-22      50   70019
43  1044   Neeraj Agarwal 2020-02-19      60   69312
44  1045     Pankaj Joshi 2022-06-10      10   70445
     eno          ename        doj  deptno  salary
45  1046     Suman Iyer 2023-04-28      20   67751
46  1047    Sunil Verma 2020-09-14      30   66989
47  1048  Meenal Pandey 2021-07-03      40   66228
48  1049     Manju Nair 2022-11-17      50   69061
49  1050  Sandeep Yadav 2021-10-12      60   60921

In [68]:
for chk in myvar:
    print(chk)

TypeError: 'int' object is not iterable

In [61]:
df1

                           eno  ename  salary  deptno         doj
0                           10  Amber  1000.0    10.0  2018-05-14
1                            2   Amar  1000.0    10.0  2017-03-22
2                            8  Sagar  1000.0    20.0  2020-11-30
3  4,Thomas,1000,10,2019-08-18    NaN     NaN     NaN         NaN

In [65]:
for cnk in df:
    print(cnk)

    eno         ename        doj  deptno  salary
0  1001  Arjun Sharma 2022-01-15      10    1000
1  1002   Priya Patel 2023-03-22      20   67387
2  1003    Ravi Kumar 2021-05-10      30   70421
3  1004   Sneha Gupta 2020-08-25      40   68902
4  1005    Anil Reddy 2024-02-13      50   78005
5  1006    Neha Verma 2019-11-30      60   59843
6  1007   Vijay Singh 2022-07-08      10    1000
7  1008   Ananya Iyer 2021-03-15      20   74625
8  1009  Manish Joshi 2020-12-19      30   67560
9  1010   Simran Kaur 2023-01-11      40   68902
     eno           ename        doj  deptno  salary
10  1011    Rajesh Mehta 2021-09-01      50   62497
11  1012   Deepika Desai 2020-06-10      60   70179
12  1013  Shivani Sharma 2022-09-13      10   74363
13  1014     Harish Nair 2023-04-01      20   61487
14  1015     Komal Yadav 2021-11-23      30   61894
15  1016      Ajay Bhatt 2020-04-25      40   70109
16  1017     Pooja Malik 2022-02-28      50   77450
17  1018    Raghav Joshi 2021-06-14      60   62873
18  1019      Meera Nair 2020-09-17      10    1000
19  1020     Krishna Rao 2023-10-02      20    2000
     eno               ename        doj  deptno  salary
20  1021      Prakash Pillai 2022-12-11      10   73569
21  1022  Aishwarya Deshmukh 2021-07-25      20   69746
22  1023          Vikas Soni 2020-11-15      30   60933
23  1024          Ritu Mehra 2023-05-20      40   67801
24  1025       Nitin Chauhan 2020-03-30      50   66948
25  1026        Swati Kapoor 2021-10-05      60   66972
26  1027       Harshit Kumar 2022-08-16      10   66535
27  1028       Kanika Thakur 2020-01-10      20   67752
28  1029      Arvind Agarwal 2023-02-18      30   70986
29  1030         Divya Singh 2021-04-22      40   67845
     eno            ename        doj  deptno  salary
30  1031     Akash Prasad 2020-06-05      50   72594
31  1032       Geeta Rani 2022-09-07      60   63916
32  1033      Suresh Jain 2021-12-01      10   69234
33  1034       Sonal Shah 2023-08-13      20    2000
34  1035    Jayesh Bansal 2020-02-15      30   69811
35  1036     Shweta Yadav 2021-06-03      40   63559
36  1037   Rajendra Joshi 2023-11-19      50   73561
37  1038     Kavita Mehta 2020-07-25      60   71892
38  1039       Ajit Reddy 2022-04-18      10   69399
39  1040  Pratibha Sharma 2021-09-05      20   65072
     eno            ename        doj  deptno  salary
40  1041  Subodh Tripathi 2020-05-14      30   68215
41  1042     Sunita Gupta 2023-03-09      40   72534
42  1043     Arvind Kumar 2021-08-22      50   70019
43  1044   Neeraj Agarwal 2020-02-19      60   69312
44  1045     Pankaj Joshi 2022-06-10      10   70445
45  1046       Suman Iyer 2023-04-28      20   67751
46  1047      Sunil Verma 2020-09-14      30   66989
47  1048    Meenal Pandey 2021-07-03      40   66228
48  1049       Manju Nair 2022-11-17      50   69061
49  1050    Sandeep Yadav 2021-10-12      60   60921

In [71]:
for cnkk in pd.read_csv('emp.csv',chunksize = 5):
    print(cnkk)

   eno   ename  salary  deptno         doj
0   10   Amber    1000      10  2018-05-14
1    2    Amar    1000      10  2017-03-22
2    8   Sagar    1000      20  2020-11-30
3    4  Thomas    1000      10  2019-08-18
4    5    Jade    2000      10  2021-02-10
   eno   ename  salary  deptno         doj
5    6   Smith    1000      10  2016-12-01
6    7  Robert    3000      20  2023-06-25
7    3    Nick    1000      30  2015-09-15
8    9   Naman    4000      30  2020-01-20
9    1   Vikas    1000      30  2017-10-03
    eno   ename  salary  deptno         doj
10   11  Dennis   41000      30  2024-01-05
11   12   Karan    2200      20  2018-06-16
12   13  Simran    1500      10  2019-12-19
13   14    Amit    2000      30  2022-04-09
14   15    Neha    1700      20  2021-07-22
    eno  ename  salary  deptno         doj
15   16  Rahul    1200      10  2016-03-28

In [79]:
var1 = pd.read_csv('emp.csv', skiprows = 5, nrows = 5, names = ['Id','Ename','Salary','Deptno','Doj'])

In [83]:
df = pd.read_csv('emp_details.csv')

In [97]:
df_10 = df['deptno'] == 10

In [105]:
df_20 = df['ename'] == 'Arjun Sharma'

In [106]:
df_10_20 = df_10 & df_20

In [107]:
df[df_10_20]

    eno         ename         doj  deptno  salary
0  1001  Arjun Sharma  2022-01-15      10    1000

In [109]:
df_50 = df['salary'] > 50000

In [110]:
df_10_50 = df_10 & df_50

In [112]:
df[df_10_50]

     eno           ename         doj  deptno  salary
12  1013  Shivani Sharma  2022-09-13      10   74363
20  1021  Prakash Pillai  2022-12-11      10   73569
26  1027   Harshit Kumar  2022-08-16      10   66535
32  1033     Suresh Jain  2021-12-01      10   69234
38  1039      Ajit Reddy  2022-04-18      10   69399
44  1045    Pankaj Joshi  2022-06-10      10   70445

In [113]:
df_10_50 = (df['deptno'] == 10)& (df['salary'] > 50000)

In [115]:
df[df_10_50]

     eno           ename         doj  deptno  salary
12  1013  Shivani Sharma  2022-09-13      10   74363
20  1021  Prakash Pillai  2022-12-11      10   73569
26  1027   Harshit Kumar  2022-08-16      10   66535
32  1033     Suresh Jain  2021-12-01      10   69234
38  1039      Ajit Reddy  2022-04-18      10   69399
44  1045    Pankaj Joshi  2022-06-10      10   70445

In [116]:
df[~df_10]

     eno               ename         doj  deptno  salary
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
19  1020         Krishna Rao  2023-10-02      20    2000
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
33  1034          Sonal Shah  2023-08-13      20    2000
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [117]:
df_30 = df['deptno'] != 30

In [118]:
df[df_30]

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20    2000
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [121]:
df.sort_values(by = 'deptno')

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
6   1007         Vijay Singh  2022-07-08      10    1000
12  1013      Shivani Sharma  2022-09-13      10   74363
18  1019          Meera Nair  2020-09-17      10    1000
20  1021      Prakash Pillai  2022-12-11      10   73569
26  1027       Harshit Kumar  2022-08-16      10   66535
38  1039          Ajit Reddy  2022-04-18      10   69399
32  1033         Suresh Jain  2021-12-01      10   69234
44  1045        Pankaj Joshi  2022-06-10      10   70445
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
19  1020         Krishna Rao  2023-10-02      20    2000
27  1028       Kanika Thakur  2020-01-10      20   67752
39  1040     Pratibha Sharma  2021-09-05      20   65072
1   1002         Priya Patel  2023-03-22      20   67387
13  1014         Harish Nair  2023-04-01      20   61487
7   1008         Ananya Iyer  2021-03-15      20   74625
33  1034          Sonal Shah  2023-08-13      20    2000
45  1046          Suman Iyer  2023-04-28      20   67751
28  1029      Arvind Agarwal  2023-02-18      30   70986
34  1035       Jayesh Bansal  2020-02-15      30   69811
14  1015         Komal Yadav  2021-11-23      30   61894
22  1023          Vikas Soni  2020-11-15      30   60933
2   1003          Ravi Kumar  2021-05-10      30   70421
46  1047         Sunil Verma  2020-09-14      30   66989
40  1041     Subodh Tripathi  2020-05-14      30   68215
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
23  1024          Ritu Mehra  2023-05-20      40   67801
15  1016          Ajay Bhatt  2020-04-25      40   70109
3   1004         Sneha Gupta  2020-08-25      40   68902
41  1042        Sunita Gupta  2023-03-09      40   72534
29  1030         Divya Singh  2021-04-22      40   67845
35  1036        Shweta Yadav  2021-06-03      40   63559
47  1048       Meenal Pandey  2021-07-03      40   66228
10  1011        Rajesh Mehta  2021-09-01      50   62497
4   1005          Anil Reddy  2024-02-13      50   78005
42  1043        Arvind Kumar  2021-08-22      50   70019
30  1031        Akash Prasad  2020-06-05      50   72594
16  1017         Pooja Malik  2022-02-28      50   77450
24  1025       Nitin Chauhan  2020-03-30      50   66948
48  1049          Manju Nair  2022-11-17      50   69061
36  1037      Rajendra Joshi  2023-11-19      50   73561
31  1032          Geeta Rani  2022-09-07      60   63916
11  1012       Deepika Desai  2020-06-10      60   70179
5   1006          Neha Verma  2019-11-30      60   59843
25  1026        Swati Kapoor  2021-10-05      60   66972
17  1018        Raghav Joshi  2021-06-14      60   62873
37  1038        Kavita Mehta  2020-07-25      60   71892
43  1044      Neeraj Agarwal  2020-02-19      60   69312
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [122]:
df

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20    2000
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [125]:
df.sort_values(by = ['deptno','ename'], ascending = [True,True],inplace = True)

In [129]:
df.sort_index(ascending = False, inplace = True)

In [130]:
df

     eno               ename         doj  deptno  salary
49  1050       Sandeep Yadav  2021-10-12      60   60921
48  1049          Manju Nair  2022-11-17      50   69061
47  1048       Meenal Pandey  2021-07-03      40   66228
46  1047         Sunil Verma  2020-09-14      30   66989
45  1046          Suman Iyer  2023-04-28      20   67751
44  1045        Pankaj Joshi  2022-06-10      10   70445
43  1044      Neeraj Agarwal  2020-02-19      60   69312
42  1043        Arvind Kumar  2021-08-22      50   70019
41  1042        Sunita Gupta  2023-03-09      40   72534
40  1041     Subodh Tripathi  2020-05-14      30   68215
39  1040     Pratibha Sharma  2021-09-05      20   65072
38  1039          Ajit Reddy  2022-04-18      10   69399
37  1038        Kavita Mehta  2020-07-25      60   71892
36  1037      Rajendra Joshi  2023-11-19      50   73561
35  1036        Shweta Yadav  2021-06-03      40   63559
34  1035       Jayesh Bansal  2020-02-15      30   69811
33  1034          Sonal Shah  2023-08-13      20    2000
32  1033         Suresh Jain  2021-12-01      10   69234
31  1032          Geeta Rani  2022-09-07      60   63916
30  1031        Akash Prasad  2020-06-05      50   72594
29  1030         Divya Singh  2021-04-22      40   67845
28  1029      Arvind Agarwal  2023-02-18      30   70986
27  1028       Kanika Thakur  2020-01-10      20   67752
26  1027       Harshit Kumar  2022-08-16      10   66535
25  1026        Swati Kapoor  2021-10-05      60   66972
24  1025       Nitin Chauhan  2020-03-30      50   66948
23  1024          Ritu Mehra  2023-05-20      40   67801
22  1023          Vikas Soni  2020-11-15      30   60933
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
20  1021      Prakash Pillai  2022-12-11      10   73569
19  1020         Krishna Rao  2023-10-02      20    2000
18  1019          Meera Nair  2020-09-17      10    1000
17  1018        Raghav Joshi  2021-06-14      60   62873
16  1017         Pooja Malik  2022-02-28      50   77450
15  1016          Ajay Bhatt  2020-04-25      40   70109
14  1015         Komal Yadav  2021-11-23      30   61894
13  1014         Harish Nair  2023-04-01      20   61487
12  1013      Shivani Sharma  2022-09-13      10   74363
11  1012       Deepika Desai  2020-06-10      60   70179
10  1011        Rajesh Mehta  2021-09-01      50   62497
9   1010         Simran Kaur  2023-01-11      40   68902
8   1009        Manish Joshi  2020-12-19      30   67560
7   1008         Ananya Iyer  2021-03-15      20   74625
6   1007         Vijay Singh  2022-07-08      10    1000
5   1006          Neha Verma  2019-11-30      60   59843
4   1005          Anil Reddy  2024-02-13      50   78005
3   1004         Sneha Gupta  2020-08-25      40   68902
2   1003          Ravi Kumar  2021-05-10      30   70421
1   1002         Priya Patel  2023-03-22      20   67387
0   1001        Arjun Sharma  2022-01-15      10    1000

In [141]:
df_group = df[df_10].groupby('deptno')['salary'].sum().reset_index().rename(columns = {'salary':'Total_sal'})

C:\Users\HP\AppData\Local\Temp\ipykernel_17184\2287975397.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_group = df[df_10].groupby('deptno')['salary'].sum().reset_index().rename(columns = {'salary':'Total_sal'})

In [142]:
df_group

   deptno  Total_sal
0      10     426545

In [149]:
df.sort_values(by =['salary','deptno'],ascending = [False,True],inplace = True)

In [151]:
df.sort_index(ascending = False,inplace = True)

In [152]:
df

     eno               ename         doj  deptno  salary
49  1050       Sandeep Yadav  2021-10-12      60   60921
48  1049          Manju Nair  2022-11-17      50   69061
47  1048       Meenal Pandey  2021-07-03      40   66228
46  1047         Sunil Verma  2020-09-14      30   66989
45  1046          Suman Iyer  2023-04-28      20   67751
44  1045        Pankaj Joshi  2022-06-10      10   70445
43  1044      Neeraj Agarwal  2020-02-19      60   69312
42  1043        Arvind Kumar  2021-08-22      50   70019
41  1042        Sunita Gupta  2023-03-09      40   72534
40  1041     Subodh Tripathi  2020-05-14      30   68215
39  1040     Pratibha Sharma  2021-09-05      20   65072
38  1039          Ajit Reddy  2022-04-18      10   69399
37  1038        Kavita Mehta  2020-07-25      60   71892
36  1037      Rajendra Joshi  2023-11-19      50   73561
35  1036        Shweta Yadav  2021-06-03      40   63559
34  1035       Jayesh Bansal  2020-02-15      30   69811
33  1034          Sonal Shah  2023-08-13      20    2000
32  1033         Suresh Jain  2021-12-01      10   69234
31  1032          Geeta Rani  2022-09-07      60   63916
30  1031        Akash Prasad  2020-06-05      50   72594
29  1030         Divya Singh  2021-04-22      40   67845
28  1029      Arvind Agarwal  2023-02-18      30   70986
27  1028       Kanika Thakur  2020-01-10      20   67752
26  1027       Harshit Kumar  2022-08-16      10   66535
25  1026        Swati Kapoor  2021-10-05      60   66972
24  1025       Nitin Chauhan  2020-03-30      50   66948
23  1024          Ritu Mehra  2023-05-20      40   67801
22  1023          Vikas Soni  2020-11-15      30   60933
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
20  1021      Prakash Pillai  2022-12-11      10   73569
19  1020         Krishna Rao  2023-10-02      20    2000
18  1019          Meera Nair  2020-09-17      10    1000
17  1018        Raghav Joshi  2021-06-14      60   62873
16  1017         Pooja Malik  2022-02-28      50   77450
15  1016          Ajay Bhatt  2020-04-25      40   70109
14  1015         Komal Yadav  2021-11-23      30   61894
13  1014         Harish Nair  2023-04-01      20   61487
12  1013      Shivani Sharma  2022-09-13      10   74363
11  1012       Deepika Desai  2020-06-10      60   70179
10  1011        Rajesh Mehta  2021-09-01      50   62497
9   1010         Simran Kaur  2023-01-11      40   68902
8   1009        Manish Joshi  2020-12-19      30   67560
7   1008         Ananya Iyer  2021-03-15      20   74625
6   1007         Vijay Singh  2022-07-08      10    1000
5   1006          Neha Verma  2019-11-30      60   59843
4   1005          Anil Reddy  2024-02-13      50   78005
3   1004         Sneha Gupta  2020-08-25      40   68902
2   1003          Ravi Kumar  2021-05-10      30   70421
1   1002         Priya Patel  2023-03-22      20   67387
0   1001        Arjun Sharma  2022-01-15      10    1000

In [162]:
df_9 = df['deptno'] == 20

In [165]:
df_count_emp = df[df_9].groupby('deptno')['eno'].count().reset_index()

In [166]:
df_count_emp

   deptno  eno
0      20    9

In [167]:
df_sal = df['salary'] < 10000

In [168]:
df_g = df[df_sal].groupby('deptno')['salary'].sum().reset_index().rename(columns = {'salary':'total_Sal'})

In [169]:
df_g

   deptno  total_Sal
0      10       3000
1      20       4000

In [172]:
 df_emp_dept_count = df.groupby(['deptno','salary'])['eno'].count().reset_index().rename(columns = {'eno':'emp_count'})

In [173]:
df_emp_dept_count

    deptno  salary  emp_count
0       10    1000          3
1       10   66535          1
2       10   69234          1
3       10   69399          1
4       10   70445          1
5       10   73569          1
6       10   74363          1
7       20    2000          2
8       20   61487          1
9       20   65072          1
10      20   67387          1
11      20   67751          1
12      20   67752          1
13      20   69746          1
14      20   74625          1
15      30   60933          1
16      30   61894          1
17      30   66989          1
18      30   67560          1
19      30   68215          1
20      30   69811          1
21      30   70421          1
22      30   70986          1
23      40   63559          1
24      40   66228          1
25      40   67801          1
26      40   67845          1
27      40   68902          2
28      40   70109          1
29      40   72534          1
30      50   62497          1
31      50   66948          1
32      50   69061          1
33      50   70019          1
34      50   72594          1
35      50   73561          1
36      50   77450          1
37      50   78005          1
38      60   59843          1
39      60   60921          1
40      60   62873          1
41      60   63916          1
42      60   66972          1
43      60   69312          1
44      60   70179          1
45      60   71892          1

In [175]:
df_agg = df.groupby('deptno')['salary'].agg(['sum','min','max','count']).reset_index()

In [176]:
col = {'sum':'total_sal','min':'min_sal','max':'max_sal','count':'emp_count'}

In [179]:
df_agg.rename(columns = col,inplace = True)

In [180]:
df_agg

   deptno  total_sal  min_sal  max_sal  emp_count
0      10     426545     1000    74363          9
1      20     477820     2000    74625          9
2      30     536809    60933    70986          8
3      40     545880    63559    72534          8
4      50     570135    62497    78005          8
5      60     525908    59843    71892          8

In [181]:
df.agg(['sum','min','max','count'])

,eno,ename,doj,deptno,salary
sum,51275,Sandeep YadavManju NairMeenal PandeySunil Verm...,2021-10-122022-11-172021-07-032020-09-142023-0...,1710,3083097
min,1001,Aishwarya Deshmukh,2019-11-30,10,1000
max,1050,Vikas Soni,2024-02-13,60,78005
count,50,50,50,50,50

In [183]:
df_count_sum = df.groupby('deptno')['salary'].agg(['count','sum','max']).reset_index()

In [184]:
colmap = {'count':'emp_count','sum':'sum_salary','max':'max_sal'}

In [185]:
df_count_sum.rename(columns = colmap,inplace = True)

In [186]:
df_count_sum

   deptno  emp_count  sum_salary  max_sal
0      10          9      426545    74363
1      20          9      477820    74625
2      30          8      536809    70986
3      40          8      545880    72534
4      50          8      570135    78005
5      60          8      525908    71892

In [5]:
df = pd.read_csv('emp_details.csv', parse_dates = ['doj'])

In [6]:
df

     eno               ename        doj  deptno  salary
0   1001        Arjun Sharma 2022-01-15      10    1000
1   1002         Priya Patel 2023-03-22      20   67387
2   1003          Ravi Kumar 2021-05-10      30   70421
3   1004         Sneha Gupta 2020-08-25      40   68902
4   1005          Anil Reddy 2024-02-13      50   78005
5   1006          Neha Verma 2019-11-30      60   59843
6   1007         Vijay Singh 2022-07-08      10    1000
7   1008         Ananya Iyer 2021-03-15      20   74625
8   1009        Manish Joshi 2020-12-19      30   67560
9   1010         Simran Kaur 2023-01-11      40   68902
10  1011        Rajesh Mehta 2021-09-01      50   62497
11  1012       Deepika Desai 2020-06-10      60   70179
12  1013      Shivani Sharma 2022-09-13      10   74363
13  1014         Harish Nair 2023-04-01      20   61487
14  1015         Komal Yadav 2021-11-23      30   61894
15  1016          Ajay Bhatt 2020-04-25      40   70109
16  1017         Pooja Malik 2022-02-28      50   77450
17  1018        Raghav Joshi 2021-06-14      60   62873
18  1019          Meera Nair 2020-09-17      10    1000
19  1020         Krishna Rao 2023-10-02      20    2000
20  1021      Prakash Pillai 2022-12-11      10   73569
21  1022  Aishwarya Deshmukh 2021-07-25      20   69746
22  1023          Vikas Soni 2020-11-15      30   60933
23  1024          Ritu Mehra 2023-05-20      40   67801
24  1025       Nitin Chauhan 2020-03-30      50   66948
25  1026        Swati Kapoor 2021-10-05      60   66972
26  1027       Harshit Kumar 2022-08-16      10   66535
27  1028       Kanika Thakur 2020-01-10      20   67752
28  1029      Arvind Agarwal 2023-02-18      30   70986
29  1030         Divya Singh 2021-04-22      40   67845
30  1031        Akash Prasad 2020-06-05      50   72594
31  1032          Geeta Rani 2022-09-07      60   63916
32  1033         Suresh Jain 2021-12-01      10   69234
33  1034          Sonal Shah 2023-08-13      20    2000
34  1035       Jayesh Bansal 2020-02-15      30   69811
35  1036        Shweta Yadav 2021-06-03      40   63559
36  1037      Rajendra Joshi 2023-11-19      50   73561
37  1038        Kavita Mehta 2020-07-25      60   71892
38  1039          Ajit Reddy 2022-04-18      10   69399
39  1040     Pratibha Sharma 2021-09-05      20   65072
40  1041     Subodh Tripathi 2020-05-14      30   68215
41  1042        Sunita Gupta 2023-03-09      40   72534
42  1043        Arvind Kumar 2021-08-22      50   70019
43  1044      Neeraj Agarwal 2020-02-19      60   69312
44  1045        Pankaj Joshi 2022-06-10      10   70445
45  1046          Suman Iyer 2023-04-28      20   67751
46  1047         Sunil Verma 2020-09-14      30   66989
47  1048       Meenal Pandey 2021-07-03      40   66228
48  1049          Manju Nair 2022-11-17      50   69061
49  1050       Sandeep Yadav 2021-10-12      60   60921

In [22]:
df_g = df.groupby('deptno')['salary'].sum()

In [26]:
df_having = df_g.apply(lambda x:x>500000)

In [27]:
df_final = df_g[df_having].reset_index()

In [28]:
df_final

   deptno  salary
0      30  536809
1      40  545880
2      50  570135
3      60  525908

In [30]:
df_gp = df.groupby('deptno')['eno'].count()

In [32]:
df_hv = df_gp.apply(lambda x : x > 8)

In [33]:
df_f = df_gp[df_hv].reset_index()

In [34]:
df_f

   deptno  eno
0      10    9
1      20    9

In [36]:
df_g

deptno
10    426545
20    477820
30    536809
40    545880
50    570135
60    525908
Name: salary, dtype: int64

In [37]:
df

     eno               ename        doj  deptno  salary
0   1001        Arjun Sharma 2022-01-15      10    1000
1   1002         Priya Patel 2023-03-22      20   67387
2   1003          Ravi Kumar 2021-05-10      30   70421
3   1004         Sneha Gupta 2020-08-25      40   68902
4   1005          Anil Reddy 2024-02-13      50   78005
5   1006          Neha Verma 2019-11-30      60   59843
6   1007         Vijay Singh 2022-07-08      10    1000
7   1008         Ananya Iyer 2021-03-15      20   74625
8   1009        Manish Joshi 2020-12-19      30   67560
9   1010         Simran Kaur 2023-01-11      40   68902
10  1011        Rajesh Mehta 2021-09-01      50   62497
11  1012       Deepika Desai 2020-06-10      60   70179
12  1013      Shivani Sharma 2022-09-13      10   74363
13  1014         Harish Nair 2023-04-01      20   61487
14  1015         Komal Yadav 2021-11-23      30   61894
15  1016          Ajay Bhatt 2020-04-25      40   70109
16  1017         Pooja Malik 2022-02-28      50   77450
17  1018        Raghav Joshi 2021-06-14      60   62873
18  1019          Meera Nair 2020-09-17      10    1000
19  1020         Krishna Rao 2023-10-02      20    2000
20  1021      Prakash Pillai 2022-12-11      10   73569
21  1022  Aishwarya Deshmukh 2021-07-25      20   69746
22  1023          Vikas Soni 2020-11-15      30   60933
23  1024          Ritu Mehra 2023-05-20      40   67801
24  1025       Nitin Chauhan 2020-03-30      50   66948
25  1026        Swati Kapoor 2021-10-05      60   66972
26  1027       Harshit Kumar 2022-08-16      10   66535
27  1028       Kanika Thakur 2020-01-10      20   67752
28  1029      Arvind Agarwal 2023-02-18      30   70986
29  1030         Divya Singh 2021-04-22      40   67845
30  1031        Akash Prasad 2020-06-05      50   72594
31  1032          Geeta Rani 2022-09-07      60   63916
32  1033         Suresh Jain 2021-12-01      10   69234
33  1034          Sonal Shah 2023-08-13      20    2000
34  1035       Jayesh Bansal 2020-02-15      30   69811
35  1036        Shweta Yadav 2021-06-03      40   63559
36  1037      Rajendra Joshi 2023-11-19      50   73561
37  1038        Kavita Mehta 2020-07-25      60   71892
38  1039          Ajit Reddy 2022-04-18      10   69399
39  1040     Pratibha Sharma 2021-09-05      20   65072
40  1041     Subodh Tripathi 2020-05-14      30   68215
41  1042        Sunita Gupta 2023-03-09      40   72534
42  1043        Arvind Kumar 2021-08-22      50   70019
43  1044      Neeraj Agarwal 2020-02-19      60   69312
44  1045        Pankaj Joshi 2022-06-10      10   70445
45  1046          Suman Iyer 2023-04-28      20   67751
46  1047         Sunil Verma 2020-09-14      30   66989
47  1048       Meenal Pandey 2021-07-03      40   66228
48  1049          Manju Nair 2022-11-17      50   69061
49  1050       Sandeep Yadav 2021-10-12      60   60921

In [38]:
df_s = pd.read_csv('salary.csv')

In [40]:
df_m = df.merge(df_s, on = 'eno', how= 'inner')

In [41]:
df_m

     eno           ename        doj  deptno  salary_x  salary_y
0   1001    Arjun Sharma 2022-01-15      10      1000     52000
1   1002     Priya Patel 2023-03-22      20     67387     61000
2   1003      Ravi Kumar 2021-05-10      30     70421     48000
3   1004     Sneha Gupta 2020-08-25      40     68902     75000
4   1005      Anil Reddy 2024-02-13      50     78005     56000
5   1006      Neha Verma 2019-11-30      60     59843     64000
6   1007     Vijay Singh 2022-07-08      10      1000     59000
7   1008     Ananya Iyer 2021-03-15      20     74625     67000
8   1009    Manish Joshi 2020-12-19      30     67560     73000
9   1010     Simran Kaur 2023-01-11      40     68902     50000
10  1011    Rajesh Mehta 2021-09-01      50     62497     62000
11  1012   Deepika Desai 2020-06-10      60     70179     71000
12  1013  Shivani Sharma 2022-09-13      10     74363     55000
13  1014     Harish Nair 2023-04-01      20     61487     58000
14  1015     Komal Yadav 2021-11-23      30     61894     69000
15  1016      Ajay Bhatt 2020-04-25      40     70109     53000
16  1017     Pooja Malik 2022-02-28      50     77450     57000
17  1018    Raghav Joshi 2021-06-14      60     62873     66000

In [42]:
df_j = df.merge(df_s, on='eno', how='left')

In [43]:
df_j

     eno               ename        doj  deptno  salary_x  salary_y
0   1001        Arjun Sharma 2022-01-15      10      1000   52000.0
1   1002         Priya Patel 2023-03-22      20     67387   61000.0
2   1003          Ravi Kumar 2021-05-10      30     70421   48000.0
3   1004         Sneha Gupta 2020-08-25      40     68902   75000.0
4   1005          Anil Reddy 2024-02-13      50     78005   56000.0
5   1006          Neha Verma 2019-11-30      60     59843   64000.0
6   1007         Vijay Singh 2022-07-08      10      1000   59000.0
7   1008         Ananya Iyer 2021-03-15      20     74625   67000.0
8   1009        Manish Joshi 2020-12-19      30     67560   73000.0
9   1010         Simran Kaur 2023-01-11      40     68902   50000.0
10  1011        Rajesh Mehta 2021-09-01      50     62497   62000.0
11  1012       Deepika Desai 2020-06-10      60     70179   71000.0
12  1013      Shivani Sharma 2022-09-13      10     74363   55000.0
13  1014         Harish Nair 2023-04-01      20     61487   58000.0
14  1015         Komal Yadav 2021-11-23      30     61894   69000.0
15  1016          Ajay Bhatt 2020-04-25      40     70109   53000.0
16  1017         Pooja Malik 2022-02-28      50     77450   57000.0
17  1018        Raghav Joshi 2021-06-14      60     62873   66000.0
18  1019          Meera Nair 2020-09-17      10      1000       NaN
19  1020         Krishna Rao 2023-10-02      20      2000       NaN
20  1021      Prakash Pillai 2022-12-11      10     73569       NaN
21  1022  Aishwarya Deshmukh 2021-07-25      20     69746       NaN
22  1023          Vikas Soni 2020-11-15      30     60933       NaN
23  1024          Ritu Mehra 2023-05-20      40     67801       NaN
24  1025       Nitin Chauhan 2020-03-30      50     66948       NaN
25  1026        Swati Kapoor 2021-10-05      60     66972       NaN
26  1027       Harshit Kumar 2022-08-16      10     66535       NaN
27  1028       Kanika Thakur 2020-01-10      20     67752       NaN
28  1029      Arvind Agarwal 2023-02-18      30     70986       NaN
29  1030         Divya Singh 2021-04-22      40     67845       NaN
30  1031        Akash Prasad 2020-06-05      50     72594       NaN
31  1032          Geeta Rani 2022-09-07      60     63916       NaN
32  1033         Suresh Jain 2021-12-01      10     69234       NaN
33  1034          Sonal Shah 2023-08-13      20      2000       NaN
34  1035       Jayesh Bansal 2020-02-15      30     69811       NaN
35  1036        Shweta Yadav 2021-06-03      40     63559       NaN
36  1037      Rajendra Joshi 2023-11-19      50     73561       NaN
37  1038        Kavita Mehta 2020-07-25      60     71892       NaN
38  1039          Ajit Reddy 2022-04-18      10     69399       NaN
39  1040     Pratibha Sharma 2021-09-05      20     65072       NaN
40  1041     Subodh Tripathi 2020-05-14      30     68215       NaN
41  1042        Sunita Gupta 2023-03-09      40     72534       NaN
42  1043        Arvind Kumar 2021-08-22      50     70019       NaN
43  1044      Neeraj Agarwal 2020-02-19      60     69312       NaN
44  1045        Pankaj Joshi 2022-06-10      10     70445       NaN
45  1046          Suman Iyer 2023-04-28      20     67751       NaN
46  1047         Sunil Verma 2020-09-14      30     66989       NaN
47  1048       Meenal Pandey 2021-07-03      40     66228       NaN
48  1049          Manju Nair 2022-11-17      50     69061       NaN
49  1050       Sandeep Yadav 2021-10-12      60     60921       NaN

In [44]:
df_r = df.merge(df_s, on='eno', how = 'right')

In [45]:
df_r

     eno           ename        doj  deptno  salary_x  salary_y
0   1001    Arjun Sharma 2022-01-15    10.0    1000.0     52000
1   1002     Priya Patel 2023-03-22    20.0   67387.0     61000
2   1003      Ravi Kumar 2021-05-10    30.0   70421.0     48000
3   1004     Sneha Gupta 2020-08-25    40.0   68902.0     75000
4   1005      Anil Reddy 2024-02-13    50.0   78005.0     56000
5   1006      Neha Verma 2019-11-30    60.0   59843.0     64000
6   1007     Vijay Singh 2022-07-08    10.0    1000.0     59000
7   1008     Ananya Iyer 2021-03-15    20.0   74625.0     67000
8   1009    Manish Joshi 2020-12-19    30.0   67560.0     73000
9   1010     Simran Kaur 2023-01-11    40.0   68902.0     50000
10  1011    Rajesh Mehta 2021-09-01    50.0   62497.0     62000
11  1012   Deepika Desai 2020-06-10    60.0   70179.0     71000
12  1013  Shivani Sharma 2022-09-13    10.0   74363.0     55000
13  1014     Harish Nair 2023-04-01    20.0   61487.0     58000
14  1015     Komal Yadav 2021-11-23    30.0   61894.0     69000
15  1016      Ajay Bhatt 2020-04-25    40.0   70109.0     53000
16  1017     Pooja Malik 2022-02-28    50.0   77450.0     57000
17  1018    Raghav Joshi 2021-06-14    60.0   62873.0     66000
18  3001             NaN        NaT     NaN       NaN     60000
19  3002             NaN        NaT     NaN       NaN     72000

In [46]:
df_r.to_csv('right_join_result.csv', index = False)

In [54]:
df_col = ['eno','ename','salary_y']

In [56]:
df_r['eno','ename','salary_y']

TypeError: list indices must be integers or slices, not tuple

In [67]:
df_way2 = pd.merge(df,df_s, on ='eno', how = 'inner')

In [68]:
df_whr = df_way2['deptno'] == 20

In [71]:
df_grp = df_way2[df_whr].groupby('deptno')['salary_y'].sum()

In [72]:
df_having = df_grp.apply(lambda x:x > 180000)

In [73]:
df_final = df_grp[df_having].reset_index()

In [74]:
df_final

   deptno  salary_y
0      20    186000

In [75]:
df_emp = pd.read_csv('employees.csv')

In [76]:
df_dept = pd.read_csv('departments.csv')

In [77]:
df_concat = pd.concat([df_emp,df_dept], axis = 0)

In [78]:
df_concat

   eno   ename  deptno deptName
0  1.0    Ajay      10      NaN
1  2.0   Vijay      20      NaN
2  3.0  Mahesh      30      NaN
3  4.0  Thomas      40      NaN
4  5.0  Robert      50      NaN
0  NaN     NaN      10  Finance
1  NaN     NaN      20       IT
2  NaN     NaN      30   Travel
3  NaN     NaN      80    Forex

In [5]:
df = pd.DataFrame(data)

In [10]:
df.iloc[2:5]

   empID EmpName  Salary
2    103  Suresh    4000
3    104  Nikhil    5000
4    105   Akhil    2012

In [12]:
df.to_excel('emp_read.xlsx',index = False,sheet_name = 'EmployeeData')

In [13]:
pd.read_excel('emp_read.xlsx')

   empID EmpName  Salary
0    101   Akash    2000
1    102  Naresh    3000
2    103  Suresh    4000
3    104  Nikhil    5000
4    105   Akhil    2012

In [16]:
df.to_json('emp_json.json',index = False,orient = 'records',indent = 4)

In [15]:
pd.read_json('emp_json.json')

   empID EmpName  Salary
0    101   Akash    2000
1    102  Naresh    3000
2    103  Suresh    4000
3    104  Nikhil    5000
4    105   Akhil    2012