In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('emp.csv')

In [3]:
df_10 = df['deptno']==10

In [18]:
df_20 = df['deptno'] == 20

In [9]:
df_final = [df_10]&[df_20]

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [22]:
df_50 = df['salary'] > 2000

In [23]:
df_final = df_10 & df_50

In [24]:
df[df_final]

Empty DataFrame
Columns: [eno, ename, salary, deptno, doj]
Index: []

In [19]:
df[df_20]

    eno   ename  salary  deptno         doj
2     8   Sagar    1000      20  2020-11-30
6     7  Robert    3000      20  2023-06-25
11   12   Karan    2200      20  2018-06-16
14   15    Neha    1700      20  2021-07-22

In [25]:
df_emp = pd.read_csv('emp_details.csv')

In [26]:
df_emp

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20    2000
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [28]:
df_emp[(df_emp['deptno'] == 10) & (df_emp['salary'] > 50000)]

     eno           ename         doj  deptno  salary
12  1013  Shivani Sharma  2022-09-13      10   74363
20  1021  Prakash Pillai  2022-12-11      10   73569
26  1027   Harshit Kumar  2022-08-16      10   66535
32  1033     Suresh Jain  2021-12-01      10   69234
38  1039      Ajit Reddy  2022-04-18      10   69399
44  1045    Pankaj Joshi  2022-06-10      10   70445

In [35]:
df_emp[(df_emp['deptno'] == 10) | (df_emp['deptno'] == 20)]

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20    2000
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751

In [31]:
df_10 = df_emp['deptno'] == 10

In [32]:
df_20 = df_emp['deptno'] == 20

In [33]:
df_10_20 = df_10 | df_20

In [34]:
df_emp[df_10_20]

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20    2000
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751

In [36]:
df_not_10 = df_emp['deptno'] !=10

In [37]:
df_emp[df_not_10]

     eno               ename         doj  deptno  salary
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
19  1020         Krishna Rao  2023-10-02      20    2000
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
33  1034          Sonal Shah  2023-08-13      20    2000
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [38]:
df_emp[~df_10]

     eno               ename         doj  deptno  salary
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
19  1020         Krishna Rao  2023-10-02      20    2000
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
33  1034          Sonal Shah  2023-08-13      20    2000
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [39]:
dept_10 = df_emp['deptno'] == 10
dept_20 = df_emp['deptno'] == 20
sal_50 = df_emp['salary'] >50000

In [40]:
df_10_20_50 = dept_10 | dept_20 & sal_50

In [41]:
df_emp[df_10_20_50]

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
18  1019          Meera Nair  2020-09-17      10    1000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
32  1033         Suresh Jain  2021-12-01      10   69234
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751

In [49]:
df_emp.sort_values(by ='salary', ascending = False)

     eno               ename         doj  deptno  salary
4   1005          Anil Reddy  2024-02-13      50   78005
16  1017         Pooja Malik  2022-02-28      50   77450
7   1008         Ananya Iyer  2021-03-15      20   74625
12  1013      Shivani Sharma  2022-09-13      10   74363
20  1021      Prakash Pillai  2022-12-11      10   73569
36  1037      Rajendra Joshi  2023-11-19      50   73561
30  1031        Akash Prasad  2020-06-05      50   72594
41  1042        Sunita Gupta  2023-03-09      40   72534
37  1038        Kavita Mehta  2020-07-25      60   71892
28  1029      Arvind Agarwal  2023-02-18      30   70986
44  1045        Pankaj Joshi  2022-06-10      10   70445
2   1003          Ravi Kumar  2021-05-10      30   70421
11  1012       Deepika Desai  2020-06-10      60   70179
15  1016          Ajay Bhatt  2020-04-25      40   70109
42  1043        Arvind Kumar  2021-08-22      50   70019
34  1035       Jayesh Bansal  2020-02-15      30   69811
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
38  1039          Ajit Reddy  2022-04-18      10   69399
43  1044      Neeraj Agarwal  2020-02-19      60   69312
32  1033         Suresh Jain  2021-12-01      10   69234
48  1049          Manju Nair  2022-11-17      50   69061
3   1004         Sneha Gupta  2020-08-25      40   68902
9   1010         Simran Kaur  2023-01-11      40   68902
40  1041     Subodh Tripathi  2020-05-14      30   68215
29  1030         Divya Singh  2021-04-22      40   67845
23  1024          Ritu Mehra  2023-05-20      40   67801
27  1028       Kanika Thakur  2020-01-10      20   67752
45  1046          Suman Iyer  2023-04-28      20   67751
8   1009        Manish Joshi  2020-12-19      30   67560
1   1002         Priya Patel  2023-03-22      20   67387
46  1047         Sunil Verma  2020-09-14      30   66989
25  1026        Swati Kapoor  2021-10-05      60   66972
24  1025       Nitin Chauhan  2020-03-30      50   66948
26  1027       Harshit Kumar  2022-08-16      10   66535
47  1048       Meenal Pandey  2021-07-03      40   66228
39  1040     Pratibha Sharma  2021-09-05      20   65072
31  1032          Geeta Rani  2022-09-07      60   63916
35  1036        Shweta Yadav  2021-06-03      40   63559
17  1018        Raghav Joshi  2021-06-14      60   62873
10  1011        Rajesh Mehta  2021-09-01      50   62497
14  1015         Komal Yadav  2021-11-23      30   61894
13  1014         Harish Nair  2023-04-01      20   61487
22  1023          Vikas Soni  2020-11-15      30   60933
49  1050       Sandeep Yadav  2021-10-12      60   60921
5   1006          Neha Verma  2019-11-30      60   59843
19  1020         Krishna Rao  2023-10-02      20    2000
33  1034          Sonal Shah  2023-08-13      20    2000
0   1001        Arjun Sharma  2022-01-15      10    1000
6   1007         Vijay Singh  2022-07-08      10    1000
18  1019          Meera Nair  2020-09-17      10    1000

In [50]:
df_sort

     eno               ename         doj  deptno  salary
4   1005          Anil Reddy  2024-02-13      50   78005
16  1017         Pooja Malik  2022-02-28      50   77450
7   1008         Ananya Iyer  2021-03-15      20   74625
12  1013      Shivani Sharma  2022-09-13      10   74363
20  1021      Prakash Pillai  2022-12-11      10   73569
36  1037      Rajendra Joshi  2023-11-19      50   73561
30  1031        Akash Prasad  2020-06-05      50   72594
41  1042        Sunita Gupta  2023-03-09      40   72534
37  1038        Kavita Mehta  2020-07-25      60   71892
28  1029      Arvind Agarwal  2023-02-18      30   70986
44  1045        Pankaj Joshi  2022-06-10      10   70445
2   1003          Ravi Kumar  2021-05-10      30   70421
11  1012       Deepika Desai  2020-06-10      60   70179
15  1016          Ajay Bhatt  2020-04-25      40   70109
42  1043        Arvind Kumar  2021-08-22      50   70019
34  1035       Jayesh Bansal  2020-02-15      30   69811
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
38  1039          Ajit Reddy  2022-04-18      10   69399
43  1044      Neeraj Agarwal  2020-02-19      60   69312
32  1033         Suresh Jain  2021-12-01      10   69234
48  1049          Manju Nair  2022-11-17      50   69061
3   1004         Sneha Gupta  2020-08-25      40   68902
9   1010         Simran Kaur  2023-01-11      40   68902
40  1041     Subodh Tripathi  2020-05-14      30   68215
29  1030         Divya Singh  2021-04-22      40   67845
23  1024          Ritu Mehra  2023-05-20      40   67801
27  1028       Kanika Thakur  2020-01-10      20   67752
45  1046          Suman Iyer  2023-04-28      20   67751
8   1009        Manish Joshi  2020-12-19      30   67560
1   1002         Priya Patel  2023-03-22      20   67387
46  1047         Sunil Verma  2020-09-14      30   66989
25  1026        Swati Kapoor  2021-10-05      60   66972
24  1025       Nitin Chauhan  2020-03-30      50   66948
26  1027       Harshit Kumar  2022-08-16      10   66535
47  1048       Meenal Pandey  2021-07-03      40   66228
39  1040     Pratibha Sharma  2021-09-05      20   65072
31  1032          Geeta Rani  2022-09-07      60   63916
35  1036        Shweta Yadav  2021-06-03      40   63559
17  1018        Raghav Joshi  2021-06-14      60   62873
10  1011        Rajesh Mehta  2021-09-01      50   62497
14  1015         Komal Yadav  2021-11-23      30   61894
13  1014         Harish Nair  2023-04-01      20   61487
22  1023          Vikas Soni  2020-11-15      30   60933
49  1050       Sandeep Yadav  2021-10-12      60   60921
5   1006          Neha Verma  2019-11-30      60   59843
19  1020         Krishna Rao  2023-10-02      20    2000
33  1034          Sonal Shah  2023-08-13      20    2000
0   1001        Arjun Sharma  2022-01-15      10    1000
6   1007         Vijay Singh  2022-07-08      10    1000
18  1019          Meera Nair  2020-09-17      10    1000

In [52]:
df_emp.sort_values(by = ['salary','deptno'], ascending = [False,True],inplace = True)

In [53]:
df_emp

     eno               ename         doj  deptno  salary
4   1005          Anil Reddy  2024-02-13      50   78005
16  1017         Pooja Malik  2022-02-28      50   77450
7   1008         Ananya Iyer  2021-03-15      20   74625
12  1013      Shivani Sharma  2022-09-13      10   74363
20  1021      Prakash Pillai  2022-12-11      10   73569
36  1037      Rajendra Joshi  2023-11-19      50   73561
30  1031        Akash Prasad  2020-06-05      50   72594
41  1042        Sunita Gupta  2023-03-09      40   72534
37  1038        Kavita Mehta  2020-07-25      60   71892
28  1029      Arvind Agarwal  2023-02-18      30   70986
44  1045        Pankaj Joshi  2022-06-10      10   70445
2   1003          Ravi Kumar  2021-05-10      30   70421
11  1012       Deepika Desai  2020-06-10      60   70179
15  1016          Ajay Bhatt  2020-04-25      40   70109
42  1043        Arvind Kumar  2021-08-22      50   70019
34  1035       Jayesh Bansal  2020-02-15      30   69811
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
38  1039          Ajit Reddy  2022-04-18      10   69399
43  1044      Neeraj Agarwal  2020-02-19      60   69312
32  1033         Suresh Jain  2021-12-01      10   69234
48  1049          Manju Nair  2022-11-17      50   69061
3   1004         Sneha Gupta  2020-08-25      40   68902
9   1010         Simran Kaur  2023-01-11      40   68902
40  1041     Subodh Tripathi  2020-05-14      30   68215
29  1030         Divya Singh  2021-04-22      40   67845
23  1024          Ritu Mehra  2023-05-20      40   67801
27  1028       Kanika Thakur  2020-01-10      20   67752
45  1046          Suman Iyer  2023-04-28      20   67751
8   1009        Manish Joshi  2020-12-19      30   67560
1   1002         Priya Patel  2023-03-22      20   67387
46  1047         Sunil Verma  2020-09-14      30   66989
25  1026        Swati Kapoor  2021-10-05      60   66972
24  1025       Nitin Chauhan  2020-03-30      50   66948
26  1027       Harshit Kumar  2022-08-16      10   66535
47  1048       Meenal Pandey  2021-07-03      40   66228
39  1040     Pratibha Sharma  2021-09-05      20   65072
31  1032          Geeta Rani  2022-09-07      60   63916
35  1036        Shweta Yadav  2021-06-03      40   63559
17  1018        Raghav Joshi  2021-06-14      60   62873
10  1011        Rajesh Mehta  2021-09-01      50   62497
14  1015         Komal Yadav  2021-11-23      30   61894
13  1014         Harish Nair  2023-04-01      20   61487
22  1023          Vikas Soni  2020-11-15      30   60933
49  1050       Sandeep Yadav  2021-10-12      60   60921
5   1006          Neha Verma  2019-11-30      60   59843
19  1020         Krishna Rao  2023-10-02      20    2000
33  1034          Sonal Shah  2023-08-13      20    2000
0   1001        Arjun Sharma  2022-01-15      10    1000
6   1007         Vijay Singh  2022-07-08      10    1000
18  1019          Meera Nair  2020-09-17      10    1000

In [58]:
df_total = df_emp.groupby('deptno')['salary'].sum().reset_index().rename(columns = {'salary':'total_sal'})

In [59]:
df_total

   deptno  total_sal
0      10     426545
1      20     477820
2      30     536809
3      40     545880
4      50     570135
5      60     525908

In [60]:
df_emp.sort_values(by =['salary','deptno'],ascending = [True, False],inplace = True)

In [61]:
df_emp

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
6   1007         Vijay Singh  2022-07-08      10    1000
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
33  1034          Sonal Shah  2023-08-13      20    2000
5   1006          Neha Verma  2019-11-30      60   59843
49  1050       Sandeep Yadav  2021-10-12      60   60921
22  1023          Vikas Soni  2020-11-15      30   60933
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
10  1011        Rajesh Mehta  2021-09-01      50   62497
17  1018        Raghav Joshi  2021-06-14      60   62873
35  1036        Shweta Yadav  2021-06-03      40   63559
31  1032          Geeta Rani  2022-09-07      60   63916
39  1040     Pratibha Sharma  2021-09-05      20   65072
47  1048       Meenal Pandey  2021-07-03      40   66228
26  1027       Harshit Kumar  2022-08-16      10   66535
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
46  1047         Sunil Verma  2020-09-14      30   66989
1   1002         Priya Patel  2023-03-22      20   67387
8   1009        Manish Joshi  2020-12-19      30   67560
45  1046          Suman Iyer  2023-04-28      20   67751
27  1028       Kanika Thakur  2020-01-10      20   67752
23  1024          Ritu Mehra  2023-05-20      40   67801
29  1030         Divya Singh  2021-04-22      40   67845
40  1041     Subodh Tripathi  2020-05-14      30   68215
3   1004         Sneha Gupta  2020-08-25      40   68902
9   1010         Simran Kaur  2023-01-11      40   68902
48  1049          Manju Nair  2022-11-17      50   69061
32  1033         Suresh Jain  2021-12-01      10   69234
43  1044      Neeraj Agarwal  2020-02-19      60   69312
38  1039          Ajit Reddy  2022-04-18      10   69399
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
34  1035       Jayesh Bansal  2020-02-15      30   69811
42  1043        Arvind Kumar  2021-08-22      50   70019
15  1016          Ajay Bhatt  2020-04-25      40   70109
11  1012       Deepika Desai  2020-06-10      60   70179
2   1003          Ravi Kumar  2021-05-10      30   70421
44  1045        Pankaj Joshi  2022-06-10      10   70445
28  1029      Arvind Agarwal  2023-02-18      30   70986
37  1038        Kavita Mehta  2020-07-25      60   71892
41  1042        Sunita Gupta  2023-03-09      40   72534
30  1031        Akash Prasad  2020-06-05      50   72594
36  1037      Rajendra Joshi  2023-11-19      50   73561
20  1021      Prakash Pillai  2022-12-11      10   73569
12  1013      Shivani Sharma  2022-09-13      10   74363
7   1008         Ananya Iyer  2021-03-15      20   74625
16  1017         Pooja Malik  2022-02-28      50   77450
4   1005          Anil Reddy  2024-02-13      50   78005

In [62]:
df_count = df_emp.groupby('deptno')['ename'].count().reset_index().rename(columns = {'ename':'emp_count'})

In [63]:
df_count

   deptno  emp_count
0      10          9
1      20          9
2      30          8
3      40          8
4      50          8
5      60          8

In [64]:
df_sal = df_emp['salary'] < 50000

In [66]:
df_group = df_emp[df_sal].groupby('deptno')['salary'].sum().reset_index().rename(columns = {'salary':'total_sal'})

In [67]:
df_group

   deptno  total_sal
0      10       3000
1      20       4000

In [68]:
df_emp[df_sal]

     eno         ename         doj  deptno  salary
0   1001  Arjun Sharma  2022-01-15      10    1000
6   1007   Vijay Singh  2022-07-08      10    1000
18  1019    Meera Nair  2020-09-17      10    1000
19  1020   Krishna Rao  2023-10-02      20    2000
33  1034    Sonal Shah  2023-08-13      20    2000

In [70]:
df_emp.groupby(['deptno','salary'])['ename'].count().reset_index()

    deptno  salary  ename
0       10    1000      3
1       10   66535      1
2       10   69234      1
3       10   69399      1
4       10   70445      1
5       10   73569      1
6       10   74363      1
7       20    2000      2
8       20   61487      1
9       20   65072      1
10      20   67387      1
11      20   67751      1
12      20   67752      1
13      20   69746      1
14      20   74625      1
15      30   60933      1
16      30   61894      1
17      30   66989      1
18      30   67560      1
19      30   68215      1
20      30   69811      1
21      30   70421      1
22      30   70986      1
23      40   63559      1
24      40   66228      1
25      40   67801      1
26      40   67845      1
27      40   68902      2
28      40   70109      1
29      40   72534      1
30      50   62497      1
31      50   66948      1
32      50   69061      1
33      50   70019      1
34      50   72594      1
35      50   73561      1
36      50   77450      1
37      50   78005      1
38      60   59843      1
39      60   60921      1
40      60   62873      1
41      60   63916      1
42      60   66972      1
43      60   69312      1
44      60   70179      1
45      60   71892      1

In [ ]:
df_emp.groupby('deptno').agg(['count','sum','max',''])