In [20]:
import pandas as pd
import oracledb
from sqlalchemy import create_engine
oracledb.init_oracle_client(lib_dir=r"C:\oraclexe\app\oracle\instantclient_19_29")
# Connect to Oracle Database

#connection = oracledb.connect(
# user="ETL_Automation",
# password="ETL_Automation",
# dsn="localhost:1521/xe"
#)

oracle_engine = create_engine("oracle+oracledb://ETL_Automation:ETL_Automation@localhost:152/xe")

ProgrammingError: DPY-2017: init_oracle_client() was already called with different arguments

In [18]:
query = """select * from customer"""

In [19]:
df = pd.read_sql(query,oracle_engine)

DatabaseError: (oracledb.exceptions.DatabaseError) ORA-12541: TNS:no listener
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [16]:
df

   CUSTOMERID     NAME          PHONE
0        C001    Alice     1234567890
1        C002      Bob     9876543210
2        C003  Charlie   555-123-4567
3        C004    David   (222)3334444
4        C005     Emma     4445556666
5        C006    Frank   333-444-5555
6        C007    Grace     8887776666
7        C008   Hannah     1112223333
8        C009      Ian  (999)888-7777
9        C010     Jack     7654321000
10       C011    Karen   555-666-7777
11       C012      Leo     2223334444
12       C013      Mia     1113335555
13       C014     Noah   123-456-7890
14       C015   Olivia  (321)654-0987

In [38]:
import oracledb
import pandas as pd
from sqlalchemy import create_engine

oracledb.init_oracle_client(lib_dir=r"C:\oraclexe\app\oracle\instantclient_19_29")

In [39]:
engine = create_engine(
    "oracle+oracledb://ETL_Automation:ETL_Automation@localhost:1521/xe"
)

In [43]:
# 3. Query test
query = """SELECT * FROM customer where customerid in ('C001','C002')"""

In [44]:
df = pd.read_sql(query,engine)

In [60]:
df
engine.close()

AttributeError: 'Engine' object has no attribute 'close'

In [47]:
#Write result into database
df.to_sql('customers_updated',con = engine,index = False)

-1

In [16]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine

In [17]:
con_engine = (
    "mssql+pyodbc://LAPTOP-R3E5KI54\SQLEXPRESS/HR?"
    #"driver = ODBC+Driver+17+for+SQL+Server&trusted_connection =yes"
    "driver=ODBC+Driver+17+for+SQL+Server"
)

In [18]:
engine = create_engine(con_engine)

In [22]:
query_sql = """ select * from departments"""

In [23]:
df_department = pd.read_sql(query_sql, engine)

In [24]:
df_sql

    department_id   department_name  location_id
0               1    Administration         1700
1               2         Marketing         1800
2               3        Purchasing         1700
3               4   Human Resources         2400
4               5          Shipping         1500
5               6                IT         1400
6               7  Public Relations         2700
7               8             Sales         2500
8               9         Executive         1700
9              10           Finance         1700
10             11        Accounting         1700

In [59]:
con_engine.close()

AttributeError: 'str' object has no attribute 'close'

In [83]:
import oracledb
import pandas as pd

conn = oracledb.connect(
    user="ETL_Automation",
    password="ETL_Automation",
    dsn="localhost:1521/xe"
)

In [84]:
query = """SELECT * FROM customer where customerid in ('C001','C002','C005','C008')"""

In [85]:
result = pd.read_sql(query,conn)

C:\Users\HP\AppData\Local\Temp\ipykernel_7160\2900077234.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(query,conn)

In [86]:
result

  CUSTOMERID    NAME       PHONE
0       C001   Alice  1234567890
1       C002     Bob  9876543210
2       C005    Emma  4445556666
3       C008  Hannah  1112223333

In [80]:
conn.close()

InterfaceError: DPY-1001: not connected to database

In [1]:
import pandas as pd

In [2]:
df_emp = pd.read_csv('employees.csv')
df_dept = pd.read_csv('departments.csv')

In [3]:
df_join = df_emp.merge(df_dept,on='deptno',how='inner')

In [5]:
df_left = df_emp.merge(df_dept,on='deptno',how='left')

In [6]:
df_right = df_emp.merge(df_dept,on='deptno',how='right')

In [8]:
df_right

   eno   ename  deptno deptName
0  1.0    Ajay      10  Finance
1  2.0   Vijay      20       IT
2  3.0  Mahesh      30   Travel
3  NaN     NaN      80    Forex

In [10]:
df_full = df_emp.merge(df_dept,on='deptno',how='outer')

In [11]:
df_full

   eno   ename  deptno deptName
0  1.0    Ajay      10  Finance
1  2.0   Vijay      20       IT
2  3.0  Mahesh      30   Travel
3  4.0  Thomas      40      NaN
4  5.0  Robert      50      NaN
5  NaN     NaN      80    Forex

In [12]:
df_diff = pd.merge(df_emp,df_dept,on='deptno',how='left')

In [13]:
df_diff

   eno   ename  deptno deptName
0    1    Ajay      10  Finance
1    2   Vijay      20       IT
2    3  Mahesh      30   Travel
3    4  Thomas      40      NaN
4    5  Robert      50      NaN

In [14]:
df_dff = df_emp.merge(df_dept,left_on='deptno',right_on='deptno',how='right')

In [15]:
df_dff

   eno   ename  deptno deptName
0  1.0    Ajay      10  Finance
1  2.0   Vijay      20       IT
2  3.0  Mahesh      30   Travel
3  NaN     NaN      80    Forex